@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @for(var i = 10; i < 21; i++)
    {<p>Line @i 周重石   <button type="button">Click Me @i 次!</button> </p>}
</div>
