@page
@model Page4Model
@{
    ViewData["Title"] = "第4頁";
}
<h1>@ViewData["Title"]</h1>


@for(var i = 4; i < 10; i++)
{
  for(var j=1; j<4; j++)
    {
      <a href='@("wk0" + i + "0" + j).html'>@("wk0" + i + "0" + j).html</a>
    }
    <br/>
}

<div id="div2">

</div>

<script>
var i,j;
var div02 = document.getElementById("div2");
for (i=4; i<10; i++)
{
  for (j=1; j<4; j+=1)
  {
      var btn = document.createElement("a");   // Create a <button> element
      btn.setAttribute("href", "wk0" + i + "0" + j + ".html");
      btn.innerHTML = "wk0" + i + "0" + j + ".html";
      div02.appendChild(btn);    // Append <a> to <div>
  }
  var br2 = document.createElement("br");
  div02.appendChild(br2);               
}
</script>
